.search__article__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  background-color: #555555;
  border: 1px solid #bfbfbf;
  border-radius: .25rem;
}

.all__articles {
  color: #000;
}

.all__articles:hover {
  color: #000;
  text-decoration: none;
}

.all__articles .card {
  -webkit-box-shadow: 0 0 0 #00000040;
  box-shadow: 0 0 0 #00000040;
}

.all__articles .card:hover {
  -webkit-box-shadow: 0 5px 20px #00000040;
  box-shadow: 0 5px 20px #00000040;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  text-decoration: none;
}

@media (max-width: 1500px) and (min-width: 767px) {
  .all__articles h6 {
    font-size: 82%;
    margin-bottom: 0px;
  }
  .all__articles p {
    font-size: 75% !important;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + -6px);
  }
}
