html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

.container-fluid {
    width: 100%;
    padding-right: 6rem;
    padding-left: 6rem;
    margin-right: auto;
    margin-left: auto;
}

.text__base__color {
    color: $base-color !important;
}

.text__white__color {
    color: #ffffff !important;
}

.text__black__color {
    color: #000000 !important;
}

.text__grey__color {
    color: #969696 !important;
}

.btn-nav {
    color: #fff;
    background-color: $base-color;
    border-color: $base-color;
}

@media (max-width:583px) {
    .container-fluid {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}