footer {
    background-color: $footer;
    h5 {
        color: white;
    }
    h6 {
        color: white;
    }
    p {
        color: white;
        text-align: justify;
    }
}

.heading__divider {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid $base-color;
}

.footer__bottom {
    background-color: $footer-bottom;
    line-height: 60px;
    p {
        color: #787878;
    }
}

.footer__social__icons {
    div {
        i {
            font-size: 22px;
            &:hover {
                color: white !important;
            }
        }
    }
}

@media (max-width:990px) {
    .footer__post__img {
        width: 70px;
    }
}